body {
    font-family: 'Verdana', sans-serif;
}

header, footer, div.page {
    margin: 0 auto;
    padding: 20px 30px;
}

div.page, footer {
    max-width: 1280px;
}

header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 42px;
}

header {
    background-image: url('/images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 230px;
    position: -webkit-sticky;
    position: sticky;
    top: -190px;
    padding: 0;
    padding-top: 190px;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

label[for=navbar-toggle-cbox] {
    cursor: pointer;
}

#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}

#navbar-toggle-cbox {
    display: none;
}

@media screen and (max-width: 767px) {
    header {
        background-size: length;
        background-position: top;
    }
    .dropdown-menu {
        z-index: 0;
        float: none;
        left: auto;
        top: auto;
        position: relative;
        display: block;
    }
}

* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row {
    background-color: #eee;
    max-width: 1024px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.mapshot {
    border: 1px solid black;
    max-width: 90%;
    max-height: 200px;
}

@media screen and (max-width: 767px) {
    .column {
        width: 100%;
    }
    .mapshot {
        max-width: 90%;
    }
}

table {
    width: 95%;
    background-color: #aaa;
}
td {
    padding: 5px;
}
table, th, td {
    border: 1px solid black;
}
