body {
    font-family: Helvetica, sans-serif;
}

header, footer, div.page {
    margin: 0 auto;
    padding: 20px 30px;
}

div.page, footer {
    max-width: 1280px;
}

header h1 {
    margin: 0;
    font-size: 42px;
}

header {
    background-image: url('/images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 230px;
    position: -webkit-sticky;
    position: sticky;
    top: -190px;
    padding: 0;
    padding-top: 190px;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

label[for=navbar-toggle-cbox] {
    cursor: pointer;
}

#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}

#navbar-toggle-cbox {
    display: none;
}

@media screen and (max-width: 767px) {
    header {
        background-size: length;
        background-position: top;
    }
    .dropdown-menu {
        z-index: 0;
        float: none;
        left: auto;
        top: auto;
        position: relative;
        display: block;
    }
}

h1, h2, h3 {
    padding: 10px;
}

p {
    padding: 10px;
}

* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row {
    max-width: 1024px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.mapshot {
    max-width: 90%;
    max-height: 200px;
}

@media screen and (max-width: 767px) {
    .column {
        width: 100%;
    }
    .mapshot {
        max-width: 90%;
    }
}

table {
    padding: 10px;
    width: 95%;
}

td {
    padding: 5px;
    vertical-align: top;
}

table.players th, table.players td, table.server_overview td {
    border: black solid 1px;
}

/* colors */
body {
    color: #999;
    background-color: #20262b;
}

.navbar-default, footer {
    background-color: #101317;
    border-color: #101317;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
    color: #c2c2c2;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:hover {
    color: #f7f7ff;
}

.navbar-default .navbar-toggle {
    background-color: #27292b;
    border-color: #5c5e60;
}

.navbar-default .navbar-toggle:hover {
    background-color: #27292b;
    border-color: #5c5e60;
}

.dropdown-menu {
    background-color: #0b0f13;
}

.dropdown-menu > li > a {
    color: #c2c2c2;
}

.dropdown-menu > li > a:hover {
    color: #f7f7ff;
    background-color: #20262b;
}

.row {
    background-color: #1c2125;
}

a {
    color: #71a4d0;
}

code {
    color: #b5b5b5;
    background-color: #101317;
}
